<!DOCTYPE html>
<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
      <title>Mixer</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
  </head>

  <body>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
             
    <ion-nav-view></ion-nav-view>

    <script id="templates/tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Recipes" icon="ion-home" href="#/tab/recipes">
          <ion-nav-view name="recipes-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Ingredients" icon="ion-document-text" href="#/tab/ingreds">
          <ion-nav-view name="ingreds-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Effects" icon="ion-document-text" href="#/tab/effects">
          <ion-nav-view name="effects-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Options" icon="ion-ios-loop-strong" href="#/tab/options">
          <ion-nav-view name="options-tab"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
    </script>

    <script id="templates/recipes.html" type="text/ng-template">
      <ion-view view-title="Recipes">
        <ion-content>
          <ion-list>
            <ion-item item-height="102px" item-render-buffer="10" 
              collection-repeat="recipe in db.recipes | filter:available()">

              <div class="button-bar">
                <span class="padding">{{recipe[0]}}</span>&nbsp;
                <button  class="button button-outline button-positive" 
                         ng-click="set_off(index)"
                         ng-repeat="index in recipe[1]">
                  {{db.ingreds[index][0]}}
                </button> 
              </div>

              <div class="padding" align="center"
                ng-bind-html="db.effect_list(recipe[2])">
              </div>

            </ion-item>     
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/ingreds.html" type="text/ng-template">
      <ion-view title="Ingredients">
        <ion-content>
          <div class="row" ng-repeat="ingred in db.ingreds">
            <ion-checkbox ng-model="ingred[2]"></ion-checkbox>
            <div class="col padding col-20 positive">{{ingred[0]}}</div>
            <div class="col padding" ng-bind-html="db.effect_list(ingred[1])"</div>         
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/effects.html" type="text/ng-template">
      <ion-view title="Effects">
        <ion-content>
          <div class="row" ng-repeat="effect in db.effects">
            <div class="col padding col-20" ng-bind-html="db.effect_item($index)"></div>
            <div class="col padding positive">{{db.ingred_list($index)}}</div>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/options.html" type="text/ng-template">
      <ion-view title="Options">
        <ion-content>
            <br><br><br><br>
          <button  class="button button-outline centered" ng-click="db.refresh()">
            Refresh Ingredients
          </button>
        </ion-content>
      </ion-view>
    </script>

    <script src="js/app.js"></script>
  </body>
</html>
